<div class="container">
  <h1>Week 5 - signals</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md border">
     <h2>App.component.html </h2>
      <p><button class="btn btn-primary" (click)="inc()"> Increment</button></p>
      <p><button class="btn btn-primary" (click)="dec()"> Decrement</button></p>
    </div>
    <div class="col-md border">
      <h2>child1.component</h2>
      <app-child1></app-child1>
    </div>
    <div class="col-md border">
      <h2>child2.component</h2>
      <app-child2></app-child2>
    </div>
  </div>
</div>


<div class="container">



  
  



  

</div>
